<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pywzzz.graduation_practice.mapper.TesterMapper">
    <!--定义通用的sql代码块-->
    <sql id="selSql">
        select
            tt.id,tt.name,tt.phone,tt.create_time,tt.status,
            vf.red,vf.blue,vf.yellow,vf.green
        from view_fpa vf
                 join tbl_tester tt
                      on vf.tester_id=tt.id
    </sql>

    <!--查询指定测试者的性格色彩数据-->
    <select id="getById" resultType="TesterVo">
        <!--引用定义好的通用sql代码块-->
        <include refid="selSql"></include>
        where tt.id=#{id}
    </select>
    <select id="listAll" resultType="TesterVo">
        <!--引用定义好的通用sql代码块-->
        <include refid="selSql"></include>
    </select>
</mapper>